.drag-n-drop {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.dnd-group {
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0px 10px;
  width: 100%;
}

.dnd-item {
  line-height: 25px !important;
  min-height: 150px;
  background-color: white;
  padding: 18px;
  border-radius: 5px;
  color: black;
}

.dnd-item .first-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dnd-item .budget-code {
  font-size: 22px;
  color: rgb(15, 0, 0);
  margin-bottom: 8px;
  text-transform: capitalize !important;
}

.dnd-item .hr {
  width: 150px;
  border: 1px solid;
  margin-bottom: 8px;
}

.dnd-item h3 {
  font-size: 15px;
  line-height: 1.5;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.dnd-item * {
  margin: 0;
  font-size: 18px;
}

.group-title {
  text-align: left;
  color: rgb(248, 248, 248);
  margin-bottom: 0.5rem;
  font-size: 18px;
  margin: 8px 10px;
}

.bottom-card {
  background: rgba(255, 246, 246, 0.877);
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}

.bottom-card span {
  color: #000;
  font-weight: 500;
  font-size: 15px;
}
