.drag-n-drop {
  padding: 0.5rem;
  /* display: grid;
  gap: 0.5rem; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.dnd-group {
  /* border-radius: 5px; */
  padding: 0.5rem;
  margin: 0px 10px;
  width: 100%;
}

.dnd-item {
  line-height: 25px !important;
  min-height: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.dnd-item * {
  margin: 0;
  font-size: 18px;
}

.group-title {
  text-align: left;
  font-family: Poppins;
  text-transform: capitalize !important;
  color: white;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.current {
  background-color: #13aa05;
}
